<div class="header">
    <img src="../../assets//images/Logo.aevo.png" alt="Aevo logo" class="aevo_logo"
    width="200"
    height="100"/>
    <img src="../../assets/images/Pokédex_logo.png" alt="Pokédex logo" class="pokedex_logo"/>
    <span class="input_search_pokemon">
        <label for="searchPokemon">Search for Pokémon by name or number</label>
        <input type="text" placeholder="Search for Pokémon" name="searchPokemon">
        <!-- <button (click)="searchPokemon()">Search</button>  -->
    </span>
</div>
