
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');


.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px #322C2B;
    background-color: #AF8260;
    margin-bottom: 1rem;
    height: 7rem;
    padding: 2rem;
}

.input_search_pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
    padding: 1rem;
    border: 3px solid #E4C59E;
    border-radius: 10px;
    background-color: #322C2B;
    height: 80%;
}

.input_search_pokemon label{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff; 
    margin-bottom: 0.5rem;
}

.input_search_pokemon input[type="text"] {
    padding: 0.5rem; 
    border: 2px solid #fff; 
    border-radius: 5px; 
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: transparent; 
    color: #fff; 
    outline: none; 
}


.input_search_pokemon button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: none; 
    border-radius: 5px; 
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-style: normal;
    background-color: #fff; 
    color: #AF8260; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.input_search_pokemon button:hover {
    background-color: #AF8260; 
    color: #fff; 
}