.pokemon-list{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
    width: 95vw;
    height: 80vw;
}

.compare__pokemons{
    margin-right: 5vw;
}


.pagination_control {
    padding: 1rem;
    border: 3px solid #322C2B;
    border-radius: 10px;
    background-color: #AF8260;
    width: 20%;
    color:aliceblue;
    margin: 10px 40%;
  }
  
.header__pokemon__list{
    display : flex;
    justify-content: flex-end;
    align-items: baseline;
}




  