<div class="header__pokemon__list">
    <app-pokemon-search (emmitSearchPokemon) = "searchPokemon($event)"></app-pokemon-search>
    <div class="compare__pokemons">
        <app-compare (emmitCompare)="onCheckboxChange($event)"></app-compare>
    </div>
</div>
<div class="pokemon-list" #container>
    <app-pokemon-card 
        *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: itemsPerPage, currentPage : currentPage}; index as i"  #card
        [pokemonName]="utilitiesService.capitalizeFirstLetter(pokemon['name'])"
        [numberPokemon] = "getNumberPokemon(pokemon['status'])"
        [pokemon] = "pokemon"
        [isCompareChecked]="isCompareChecked"
        (emmitPokemonChecked)="onEmmitPokemonChecked($event)">
    </app-pokemon-card>
    
</div>

<div class="pagination_control">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>
 