<app-pokemon-search></app-pokemon-search>
<div class="pokemon-list">
    <app-pokemon-card 
        *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: itemsPerPage, currentPage : currentPage}; index as i" 
        [pokemonName]="utilitiesService.capitalizeFirstLetter(pokemon['name'])"
        [numberPokemon] = "getNumberPokemon(i)"
        [pokemon] = "pokemon">
    </app-pokemon-card>
    
</div>

<div class="pagination_control">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>
 