<div (click)="onClickCard()" [ngClass]="{'pokemon-card':!isCompareChecked, 'pokemon-card-check': isCompareChecked}" *ngIf="pokemon.status" tabindex="0">
    
    <img [src] = "getUrlImage()"/>
    <p class="pokemon-card-info"> Nº{{formatNumber}}</p>
    <p class="pokemon-card-info">{{ pokemonName }} </p>
    <ul class="pokemon-types">
        <li class="pokemon-types-item"*ngFor="let value of pokemon.status.types">
            {{utilitiesService.capitalizeFirstLetter(value.type.name)}}
        </li>
    </ul>
</div>