
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #423838;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s;
}

.pokemon-card:hover {
    transform: scale(1.15); 
    box-shadow: 0px 0px 30px #423838; 
}

.pokemon-card-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #423838;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s;
}

.pokemon-card-check:hover {
    transform: scale(1.15); 
    box-shadow: 0px 0px 30px #423838; 
}

.pokemon-card-check:focus{
    border: 4px dashed #AF8260;
    transform: scale(1.15);
}

.pokemon-card-info{
    font-family: 'Roboto Mono', monospace;
    font-size : 1.5rem;
    font-weight : 600;
    border : 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #423838;
    padding : 0px 2rem;
    margin: 1rem;
    background-color: #322C2B;
    color : #fff;
}
    
.pokemon-types {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pokemon-types-item {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #423838;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin: 0.5rem;
    background-color: #322c2b;
    color: #fff;
}