.input_search_pokemon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 10px;
    gap:10px;
}


.input_search_pokemon input[type="text"] {
    padding: 0.5rem;
    width: 30rem; 
    border: 2px solid #fff; 
    border-radius: 5px; 
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: transparent; 
    color: #fff; 
    outline: none;
    transition: border-color 0.3s ease; 
}

.input_search_pokemon input[type="text"]:hover{
    border: 2px solid #935e3a;
    background-color: #fff;
}

.input_search_pokemon input[type="text"]:focus{
    border: 2px solid #935e3a;
    background-color: #fff;
    color:#935e3a
}
