.input_search_pokemon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 10px;
    gap:10px;
}


.input_search_pokemon input[type="text"] {
    padding: 0.5rem;
    width: 30rem; 
    border: 2px solid #fff; 
    border-radius: 5px; 
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: transparent; 
    color: #fff; 
    outline: none; 
}


.input_search_pokemon button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: none; 
    border-radius: 5px; 
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-style: normal;
    background-color: #fff; 
    color: #AF8260; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.input_search_pokemon button:hover {
    background-color: #AF8260; 
    color: #fff; 
}