.compare__pokemons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid #935e3a;
    box-shadow: 0px 0px 10px #423838;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-right: 1.6rem;
}

.compare__pokemons__input {
    position: relative;
    cursor: pointer;
}

.compare__pokemons__label {
    /* Estilo do rótulo */
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}


input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

